<style>
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
</style>

<div class="header">
  <h1>Hello from {{ ansible_default_ipv4.address }} !</h1>
</div>
